* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.875em;
}

p {
    margin: 10px 0;
}

a {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid {
	margin: 0 auto;
    background: #fff;
}

#header {
    margin: 0;
	padding: 10px;
}

#header h1 {
    margin: 0;
    padding: 0 10px;
}

#header p {
    margin: 0;
    padding: 0 10px 10px 10px;
}

#search form {
    text-align: right;
}

#search input {
    margin: 10px 0;
    padding: 5px;
    width: 140px;
    border: 1px solid #ccc;
}

#mainmenu {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
	margin: 0;
}

#mainmenu ul {
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

#mainmenu li {
	display: table-cell;
}

#mainmenu a {
	color: #369;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}

#mainmenu a:hover {
	background: #eee;
}

#mainmenu .current-menu-item {
    background: #eee;
}

#commentform label {
    display: inline-block;
    color: #999;
}

#commentform input {
    display: inline-block;
    margin: 10px 0;
    width: 50%;
    padding: 5px;
    border: 1px solid #999;
}

#commentform textarea {
    display: block;
    width: 95%;
    height: 10em;
    padding: 5px;
    border: 1px solid #999;
}

#commentform button {
    display: block;
    margin: 10px 0;
    border: 1px solid #999;
    padding: 10px;
    color: #333;
    background: #ccc;
}

#copyright {
    border-top: 1px dotted #ccc;
	margin: 0;
	padding: 10px;
    font-size: 0.875em;
}