* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #eee;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 5px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 5px 0;
}

a {
    color: #369;
}

.grid {
    background: #fff;
}

#header {
    background: #666;
    color: #eee;
    margin: 0;
}

#header h1 {
    margin: 0;
    padding: 10px 10px 0 10px;
}

#header p {
    margin: 0;
    padding: 0 10px 10px 10px;
}

#copyright {
    border-top: 1px dotted #999;
    font-size: 12px;
}