/* =============================================================================
    Grid
============================================================================= */
.grid {
    width: 990px;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}
/* -----------------------------------------------------------------------------
    rows
----------------------------------------------------------------------------- */
.row {
    clear: both;
    overflow: auto;
}

.row-abcdef {}
.row-abc-def {}
.row-ab-cdef {}
.row-abcd-ef {}
.row-a-bcdef {}
.row-abcde-f {}
.row-ab-cd-ef {}
.row-a-b-cdef {}
.row-a-bcde-f {}
.row-abcd-e-f {}
.row-ab-cde-f {}
.row-abc-de-f {}
.row-ab-c-def {}
.row-a-bc-def {}
.row-ab-c-d-ef {}
.row-abc-d-e-f {}
.row-a-bcd-e-f {}
.row-a-b-cde-f {}
.row-a-b-c-def {}
.row-a-bc-d-ef {}
.row-a-b-cd-ef {}
.row-ab-c-de-f {}
.row-ab-cd-e-f {}
.row-a-bc-de-f {}
.row-ab-c-d-e-f {}
.row-a-bc-d-e-f {}
.row-a-b-cd-e-f {}
.row-a-b-c-de-f {}
.row-a-b-c-d-ef {}
.row-a-b-c-d-e-f {}
/* -----------------------------------------------------------------------------
    cols
----------------------------------------------------------------------------- */
.col {
    margin: 0;
    padding: 0;
    overflow: auto;
    float: left;
}

.col-abcdef {
    width: 990px;
}

.col-abcde,
.col-bcdef {
    width: 825px;
}

.col-abcd,
.col-bcde,
.col-cdef {
    width: 660px;
}

.col-abc,
.col-bcd,
.col-cde,
.col-def {
    width: 495px;
}

.col-ab,
.col-bc,
.col-cd,
.col-de,
.col-ef {
    width: 330px;
}

.col-a,
.col-b,
.col-c,
.col-d,
.col-e,
.col-f {
    width: 165px;
}
/* -----------------------------------------------------------------------------
    cells
----------------------------------------------------------------------------- */
.cell {
    padding: 0;
    margin: 5px;
}
/* =============================================================================
    Media Queries
============================================================================= */
/* -----------------------------------------------------------------------------
    xsmall
----------------------------------------------------------------------------- */
@media all and (min-width: 0px) and (max-width: 479px) {
    .grid,
    .row {
        width: 320px;
    }
    
    .col-abcdef,
    .col-abcde,
    .col-bcdef,
    .col-abcd,
    .col-bcde,
    .col-cdef,
    .col-abc,
    .col-bcd,
    .col-cde,
    .col-def,
    .col-ab,
    .col-bc,
    .col-cd,
    .col-de,
    .col-ef,
    .col-a,
    .col-b,
    .col-c,
    .col-d,
    .col-e,
    .col-f {
        width: 320px;
    }
}
/* -----------------------------------------------------------------------------
    small
----------------------------------------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 639px) {
    .grid,
    .row {
        width: 480px;
    }
    
    .col-abcdef,
    .col-abcde,
    .col-bcdef,
    .col-abcd,
    .col-bcde,
    .col-cdef,
    .col-abc,
    .col-bcd,
    .col-cde,
    .col-def,
    .col-ab,
    .col-bc,
    .col-cd,
    .col-de,
    .col-ef,
    .col-a,
    .col-b,
    .col-c,
    .col-d,
    .col-e,
    .col-f {
        width: 480px;
    }
}

/* -----------------------------------------------------------------------------
    medium
----------------------------------------------------------------------------- */
@media all and (min-width: 640px) and (max-width: 989px) {
	.grid,
    .row {
        width: 640px;
    }

    .col-abcdef {
        width: 640px;
    }
    
    .col-abcde,
    .col-bcdef,
    .col-abcd,
    .col-bcde,
    .col-cdef,
    .col-abc,
    .col-bcd,
    .col-cde,
    .col-def,
    .col-ab,
    .col-bc,
    .col-cd,
    .col-de,
    .col-ef,
    .col-a,
    .col-b,
    .col-c,
    .col-d,
    .col-e,
    .col-f {
        width: 320px;
    }
}

/* -----------------------------------------------------------------------------
	large
----------------------------------------------------------------------------- */
@media all and (min-width: 990px) {
    
}